* {
  padding: 0px;
  margin: 0px;
  border: 0px;
  font-family: 'Poppins', sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #121212;
  line-height: 1;
  font-family: "Poppins";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Poppins";
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-size: 44px;
  font-weight: 600;
}

.org-text {
  color: #FF6428;
  font-weight: 600;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 62px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-right: 8.1875rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__logo img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.5rem;
}

.menu__link {
  font-weight: 500;
  color: rgba(18, 18, 18, 0.4);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link:hover {
  color: #000;
}

.main-image {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-img {
  width: 100%;
  z-index: -1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.main-svg {
  position: absolute;
  right: 15.25rem;
  bottom: -40px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.image-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 42rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__link {
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  position: relative;
}

.menu__link:after {
  background-color: #ff6000;
  position: absolute;
  left: 0;
  bottom: -5px;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.menu__link:hover:after,
.menu__link:focus:after {
  width: 100%;
}

.icon-menu {
  display: none;
}

.footer {
  padding-top: 5rem;
  padding-bottom: 2.6875rem;
  background: #EEE;
}

.footer__wrapper {
  max-width: 70rem;
  margin: 0 auto;
  padding: 0px 10px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5rem;
}

.footer__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.75rem;
  padding-right: 15.9375rem;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__copyright {
  text-align: center;
  color: rgba(18, 18, 18, 0.6);
  line-height: 160%;
}

.main-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.75rem;
}

.main-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-footer__text {
  color: #666;
  line-height: 160%;
}

.column-footer__name {
  color: #121212;
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 1.25rem;
}

.column-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1rem;
}

.column-footer__item {
  color: rgba(18, 18, 18, 0.6);
}

.socials__name {
  padding-bottom: 0.75rem;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}

.pages {
  padding-right: 7.875rem;
}

.product {
  padding-right: 6rem;
}

.main {
  padding-top: 5.125rem;
  padding-bottom: 13.75rem;
}

.main__title {
  color: #121212;
  font-size: 56px;
  font-weight: 600;
  max-width: 33.3rem;
}

.main__text {
  padding-top: 1rem;
  padding-bottom: 2.0625rem;
  color: #666;
  font-weight: 500;
  max-width: 24.875rem;
  line-height: 1.5rem;
}

.main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__button {
  color: #FFF;
  font-weight: 600;
  padding: 1.125rem 3rem;
  border-radius: 2.5rem;
  background: #FF6428;
  line-height: 1.5rem;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  border: 3px solid #FF6428;
}

.main__button:hover {
  background-color: #fff;
  color: #FF6428;
  font-weight: 700;
  font-size: 1.125rem;
  padding: 1.125rem 2.625rem;
}

.store__title {
  text-align: center;
  padding-bottom: 5.75rem;
}

.store__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 6.375rem;
  padding-bottom: 11.25rem;
}

.store__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2rem;
}

.store__theme {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store-theme__name {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1.6px;
}

.store-theme__button {
  font-size: 20px;
  font-weight: 500;
  color: #868686;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.store-theme__button:hover {
  color: #121212;
}

.store-item__image img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.store-item__image:hover img {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.store-item__name {
  padding-top: 2.5rem;
  font-weight: 500;
  padding-bottom: 0.4375rem;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.store-item__price {
  color: #666;
  font-size: 14px;
}

.store-item:hover .store-item__name {
  color: #FF6428;
}

.categories {
  padding-bottom: 13.75rem;
}

.categories__wrapper {
  max-width: 68rem;
  margin: 0 auto;
  padding: 0px 10px;
}

.categories__title {
  padding-bottom: 5rem;
  text-align: center;
}

.categories__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories__column {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.categories__image {
  cursor: pointer;
  overflow: hidden;
  border-radius: 20px;
}

.categories__image img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.categories__image:hover img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

.categories__image:hover .categories__text {
  color: #FF6428;
}

.categories__text {
  position: absolute;
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 600;
  bottom: 1.875rem;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.categories__column:hover .categories__text {
  color: #FF6428;
}

.brands {
  padding-bottom: 11.25rem;
}

.brands__wrapper {
  max-width: 63.875rem;
  margin: 0 auto;
  padding: 0px 10px;
}

.brands__title {
  text-align: center;
  padding-bottom: 4.6875rem;
}

.brands__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.875rem;
}

.brands__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why {
  background: #000;
  padding: 94px 0px;
}

.why__wrapper {
  max-width: 70.625rem;
  margin: 0 auto;
  padding: 0px 10px;
}

.why__title {
  text-align: center;
  color: #FFF;
}

.why__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 4.6875rem;
}

.why__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why-column__name {
  color: #FFF;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1.44px;
  text-transform: uppercase;
  padding-top: 2.5rem;
  padding-bottom: 0.75rem;
}

.why-column__text {
  max-width: 14.375rem;
  color: #666;
  text-align: center;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 1.25rem;
}

.customers__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.customers__title {
  text-align: center;
  padding-bottom: 6.8125rem;
}

.customers__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers__images {
  position: relative;
}

.customers__images img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.customers__images img:last-child {
  position: absolute;
  top: 0;
  left: -81px;
  top: 2.375rem;
  z-index: -1;
}

.customers__main {
  padding-top: 1.875rem;
}

.customers__text {
  max-width: 32.75rem;
  color: #666;
  font-size: 1.5rem;
  line-height: 160%;
  padding-bottom: 3.4375rem;
}

.customers__name {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 160%;
  padding-bottom: 0.5rem;
}

.customers__stack {
  color: #868686;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 1.44px;
}

.customers__slider {
  padding: 15rem 0rem;
}

.browser {
  padding-bottom: 13.6875rem;
}

.browser__wrapper {
  max-width: 73.25rem;
  margin: 0 auto;
  padding: 0px 10px;
}

.browser__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10.5625rem;
  position: relative;
}

.browser__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.75rem;
  padding-top: 7.25rem;
}

.browser__title {
  max-width: 30.25rem;
}

.browser__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.625rem;
}

.browser__images {
  position: absolute;
  right: -1.25rem;
  top: -4.6875rem;
}

.swiper {
  overflow: hidden;
}

.swiper-initialized {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 75em) {
  .image-container {
    max-width: 34.375rem;
  }
}

@media (max-width: 65em) {
  .image-container {
    max-width: 25rem;
  }

  .header__logo {
    padding-right: 5.625rem;
  }

  .menu__list {
    gap: 2.25rem;
  }

  .header__container {
    padding: 42px 10px;
  }

  .main-svg {
    right: 7.5rem;
  }
}

@media (max-width: 730px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.3125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.1875rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 730px) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 30em) {
  .store__title {
    font-size: 2.25rem;
  }

  .store-theme__name {
    font-size: 1rem;
  }

  .store-theme__button {
    font-size: 0.875rem;
  }
}

@media (max-width: 81.25em) {
  .image-container {
    max-width: 37.5rem;
  }
}

@media (max-width: 73.75em) {
  .store__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2.5rem;
    row-gap: 2.5rem;
  }

  .store-item__image img {
    width: 32.5rem;
  }

  .store-item__name {
    font-size: 1.5rem;
  }

  .store-item__price {
    font-size: 1.25rem;
  }
}

@media (max-width: 72.5em) {
  .image-container {
    max-width: 28.125rem;
  }

  .main-svg {
    right: 9.375rem;
  }

  .customers__row {
    gap: 2.5rem;
  }
}

@media (max-width: 69.375em) {
  .footer__main {
    padding-right: 9.375rem;
  }

  .store-item__image img {
    width: 26.25rem;
  }
}

@media (max-width: 66.3125em) {
  .customers__text {
    font-size: 1.25rem;
    max-width: 27.5rem;
  }
}

@media (max-width: 65.625em) {
  .browser__images {
    top: -2rem;
  }

  .browser__images img {
    width: 32.5rem;
  }

  .browser__title {
    max-width: 22rem;
    font-size: 2.375rem;
  }

  .browser__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 61.875em) {
  .pages {
    padding-right: 2rem;
  }

  .product {
    padding-right: 2rem;
  }

  .socials__list {
    gap: 0.9375rem;
  }
}

@media (max-width: 61.25em) {
  .customers__images img:last-child {
    display: none;
  }
}

@media (max-width: 60.625em) {
  .categories__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 1.875rem;
    row-gap: 1.875rem;
  }
}

@media (max-width: 56.25em) {
  .image-container {
    max-width: 21.875rem;
  }
}

@media (max-width: 56.875em) {
  .store__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .store-item__image img {
    width: 37.5rem;
  }
}

@media (max-width: 53.75em) {
  .image-container {
    max-width: 18.75rem;
  }

  .main-svg {
    width: 3.75rem;
    height: 3.75rem;
    bottom: -1.875rem;
  }
}

@media (max-width: 51.25em) {
  .customers__images img:first-child {
    width: 13.5rem;
  }

  .customers__text {
    font-size: 1rem;
    max-width: 21.5625rem;
  }
}

@media (max-width: 50.625em) {
  .header__logo {
    padding-right: 4.375rem;
  }

  .header__logo img {
    width: 5.625rem;
  }

  .header__container {
    padding: 32px 10px;
  }

  .menu__link {
    font-size: 0.875rem;
  }
}

@media (max-width: 48.75em) {
  .footer__main {
    padding-right: 5rem;
  }

  .browser__images {
    top: 2rem;
  }

  .browser__images img {
    width: 27rem;
  }
}

@media (max-width: 47.99875em) {
  .main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 47.375em) {
  .store__list {
    gap: 40px;
  }

  .main {
    padding-bottom: 11.25rem;
  }
}

@media (max-width: 46.25em) {
  .main {
    padding-top: 18.75rem;
  }

  .categories__row {
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media (max-width: 45.625em) {
  .menu__body {
    display: none;
  }

  .header__container {
    gap: 20px;
  }

  .image-container {
    max-width: 25rem;
  }

  .main-svg {
    width: 5rem;
    height: 5rem;
    bottom: -2.5rem;
  }

  .header__logo img {
    width: 7.5rem;
  }
}

@media (max-width: 44.625em) {
  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3.125rem;
  }

  .footer__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 1.875rem;
  }

  .footer__main {
    padding: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .main-footer__list {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .footer__columns {
    padding: 0;
  }

  .pages {
    padding: 0;
  }

  .product {
    padding: 0;
  }

  .footer__column {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .footer__socials {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .socials__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 44.375em) {
  .why__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 3.75rem;
  }

  .why-column__name {
    font-size: 1.375rem;
  }

  .why-column__text {
    font-size: 1.125rem;
    max-width: 16.875rem;
    line-height: 1.5rem;
  }

  .why-column__image {
    width: 6.25rem;
    height: 6.25rem;
  }
}

@media (max-width: 43.75em) {
  .customers__slider {
    padding: 5rem 0rem;
  }

  .browser__images {
    display: none;
  }

  .browser__title {
    text-align: center;
    max-width: 100%;
  }

  .browser__main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .browser__actions {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 41.25em) {
  .store-item__image img {
    width: 31.25rem;
  }
}

@media (max-width: 40.625em) {
  .brands__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .brands__row img {
    padding: 5px;
  }
}

@media (max-width: 38.125em) {
  .customers__title {
    font-size: 2.375rem;
    padding-left: 0.625rem;
    padding-right: 0.625rem;
  }

  .customers__images img:first-child {
    width: 9.375rem;
  }

  .customers__text {
    font-size: 0.875rem;
    max-width: 19.0625rem;
    padding-bottom: 0.625rem;
  }

  .customers__row {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }

  .customers__main {
    padding: 0;
  }

  .customers__name {
    font-size: 1.125rem;
  }

  .customers__stack {
    font-size: 1rem;
  }
}

@media (max-width: 37.5em) {
  .image-container {
    max-width: 21.875rem;
  }
}

@media (max-width: 33.75em) {
  .image-container {
    max-width: 100%;
  }

  .main {
    padding-top: 25.625rem;
  }

  .store-item__image img {
    width: 22.5rem;
  }
}

@media (max-width: 32.5em) {
  .customers__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .customers__name {
    font-size: 1.375rem;
  }

  .customers__images img:last-child {
    display: block;
    width: 9.375rem;
    left: -1.875rem;
    top: 0.75rem;
  }
}

@media (max-width: 31.25em) {
  .main {
    padding-top: 23.75rem;
  }

  .main__title {
    font-size: 3.125rem;
  }
}

@media (max-width: 30.625em) {
  .categories__image img {
    width: 20rem;
  }

  .categories__text {
    font-size: 1.625rem;
  }
}

@media (max-width: 26.25em) {
  .header__container {
    padding: 20px 10px;
  }

  .store-item__image img {
    width: 18.75rem;
  }

  .store-item__name {
    font-size: 1.25rem;
  }

  .browser__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .browser__title {
    font-size: 1.75rem;
  }
}

@media (max-width: 26.5625em) {
  .brands__row {
    gap: 1.875rem;
    row-gap: 1.875rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 26.875em) {
  .why__title {
    font-size: 2.375rem;
    line-height: 3.125rem;
  }
}

@media (max-width: 24.375em) {
  .main {
    padding-top: 21.875rem;
  }

  .main__title {
    font-size: 3rem;
  }
}

@media (max-width: 23.75em) {
  .store-item__image img {
    width: 15rem;
  }

  .store-item__name {
    font-size: 1.125rem;
  }
}

@media (max-width: 22.5em) {
  .brands__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
  }

  .brands__rows {
    row-gap: 2.5rem;
  }
}

@media (max-width: 21.5625em) {
  .main {
    padding-top: 18.75rem;
  }

  .main__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 21.875em) {
  .categories__image img {
    width: 17.5rem;
  }
}